.interface {
  padding: 2rem 0 2rem 4rem;
  background-color: #1A1B41;
  width: 250px;
  border-radius: 5px;
  color: white;
}

.submitButton {
  background:none;
  background-color: #3C4F76;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 5rem;
  height: 1.5rem;
}

.card {
  height: 130px;
  width: 100px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
  display:inline-table;
  font-size: 38px;
  padding-left: 1rem;
  padding-top: 2rem;
}

.winner {
  font-size: 20px;
  color: #3C4F76;
}
